@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.ff_roboto {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  /* ---------------- fs--------------- */
  --fs-xsm: 12px;
  --fs-sm: 13px;
  --fs-md: 14px;
  --fs-lg: 15px;
  --fs-xl: 16px;
  --fs-2xl: 20px;
  --fs-3xl: 24px;
  --fs-4xl: 30px;
  --fs-5xl: 32px;
  --fs-6xl: 36px;
  --fs-7xl: 64px;
  --fs-8xl: 150px;
  --fs-9xl: 200px;

  /* ----------------- fw --------------- */

  --fw-medium: 500;

  /* ------------------ color ---------------- */

  --color-light-blue: #6b7a99;
  --color-green: #29cc39;
  --color-sky: #4d5e80;
  --color-light-sky: #7d8fb3;
  --color-light-white: #adb8cc;
  --color-blue: #3361ff;
  --color-orange: #ff6633;
  --color-blue-op: #002881;
  --bg-color-blue: #3361ff;
  --bg-color-orange: #ff6633;
  --bg-color: #f7f8fa;
}

.fs_12 {
  font-size: var(--fs-xsm);
}

.fs_13 {
  font-size: var(--fs-sm);
}

.fs_14 {
  font-size: var(--fs-md);
}

.fs_15 {
  font-size: var(--fs-lg);
}

.fs_16 {
  font-size: var(--fs-xl);
}

.fs_20 {
  font-size: var(--fs-2xl);
}
.fs_24 {
  font-size: var(--fs-3xl);
}
.fs_30 {
  font-size: var(--fs-4xl);
}
.fs_32 {
  font-size: var(--fs-5xl);
}

.fs_36 {
  font-size: var(--fs-6xl);
}
.fs_64 {
  font-size: var(--fs-7xl);
}
.fs_150 {
  font-size: var(--fs-8xl);
}
.fs_200 {
  font-size: var(--fs-9xl);
}

.fw_500 {
  font-weight: var(--fw-medium);
}

.bg_color_blue {
  background-color: var(--bg-color-blue);
}
.bg_color_orange {
  background-color: var(--bg-color-orange);
}
.bg_color {
  background-color: var(--bg-color);
}

.color_blue {
  color: var(--color-blue);
}
.color_light_blue {
  color: var(--color-light-blue);
}
.color_blue_op {
  color: var(--color-blue-op);
}
.color_sky {
  color: var(--color-sky);
}
.color_light_white {
  color: var(--color-light-white);
}
.color_light_sky {
  color: var(--color-light-sky);
}
.color_green {
  color: var(--color-green);
}
.color_orange {
  color: var(--color-orange);
}
.bg_img {
  background-image: url(../src/assets/image/png/bg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom !important;
}

.menu_formatting {
  display: grid;
  background: transparent;
  margin: 0;
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
  z-index: 123;
  position: relative;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 6px;
  margin: 6px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.bg_f5f5 {
  background-color: #f5f5ff !important;
}

.span_nav1 {
  width: 50%;
}

.span_nav2 {
  width: 100%;
}

.span_nav3 {
  width: 75%;
}

.menu[type="checkbox"] {
  display: none;
}

.menu[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.menu[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.menu[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 60%;
  transform: translate(22px, -11px) rotatez(45deg);
}

.nav-fix {
  /* min-width: 100vh;/ */
  height: 100%;
  top: 0px;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #2e3257;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  transition: all 500ms ease-in-out;
}
.bg_btn {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 80px;
}

.fix-navbar {
  min-width: 100vh;
  position: absolute;
  top: 0%;
  position: fixed;
  left: -200%;
  transition: all 500ms ease-out !important;
}
.z_index {
  z-index: 3;
}
.z_index0 {
  z-index: 0;
}
.z_index1 {
  z-index: 1;
}

.overflowHidden {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  position: fixed;
  width: 100%;
}
.nav_text_hover:hover {
  color: #313ef7 !important;
}
/* .over_x_hidden {
} */
.line::before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #313ef7;
  position: absolute !important;
  bottom: -8px;
  transition: all 300ms ease-in-out;
}
.line:hover::before {
  width: 100% !important;
}
.overflow-auto {
  overflow: hidden !important;
}

.btn_fly {
  border: 1px solid white !important;
  padding-left: 30px;
  padding-right: 30px;
}
.shadow_box {
  box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
  border-radius: 0px 20px 20px 20px;
}

.feature_shadow {
  box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
  border-radius: 185px;
}
.opacity {
  opacity: 0.03;
}

.scale_hover:hover {
  scale: 1.09 !important;
}

.transform_hover_y:hover {
  transform: translateY(-10%) !important;
}
.transform_hover_down:hover {
  transform: translateY(0.1%) !important;
}
.transform_y {
  transform: translateY(-10%) !important;
}

.btn_book {
  border: 1px solid rgb(36, 3, 248) !important;
  padding-left: 30px;
  background-color: #313ef7;
  padding-right: 30px;
  box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25);
}

.btn_book:hover {
  background-color: #fdfdff;
  color: #313ef7 !important;
  -webkit-text-stroke-width: 1px;
}
h1 {
  /* padding-top: 20px; */

  line-height: 150%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.442);
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.lin {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

/*  */
.nav-tabs-container {
  display: flex;

  flex-direction: column;
}
.border_bottom {
  border-bottom: 2px dashed #868d96 !important;
  padding-bottom: 38px;
}
.arrow:hover {
  background: #313ef7 !important;
  box-shadow: 0px 10px 14px rgba(49, 62, 247, 0.25);
  border-radius: 56px;
  color: #ffffff;
}
.box1 {
  background: #ffffff;
  /* Shadows/Gray Blue/3%/5b */

  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 10px;
}
.box1:hover .right_35 {
  display: flex !important;
}

.bg_img {
  background-image: url(../src/assets/image/png/bg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh !important;
}
.mt {
  margin-top: -40px;
}

.nav-tab {
  padding: 8px;

  cursor: pointer;

  text-align: center;
}

.tab-content {
  background-color: transparent !important;
}

element.style {
}
.height {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.bg-white {
  border-radius: 20px !important;
}

.nav-tab.active {
  background-color: #007bff;
  color: white;
}

.tab-content {
  /* padding: 10px; */
  background-color: #2e3257;
}
.btm {
  position: absolute !important;
  bottom: -60px;
  left: 47px;
}
.mx_747 {
  max-width: 747px;
}
.rgba {
  background: rgba(41, 204, 57, 0.1);
  border-radius: 15px;
}
.box {
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 10px;
  background-color: white !important;
}
.rgb {
  background: rgba(51, 97, 255, 0.1);
  border-radius: 15px;
}
.lines:hover {
  transition: all 300ms ease-in-out;
  color: #ff6633;
  position: relative;
}
.lines:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ff6633;
  bottom: -3px;
  position: absolute;
  border-radius: 20px;
  transition: all 700ms ease-in-out;
}
.eye {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.top_35 {
  position: absolute;
  top: 10%;
  left: 5%;
}
.right_35 {
  position: absolute;
  top: 15%;
  right: 10%;
  display: none !important;
}
.box2 {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 10px;
}
.mx_295 {
  max-width: 295px;
}
div.play:hover .overlay {
  opacity: 1;
}
.overlay {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
}
.slider_button1 {
  position: absolute;
  right: 5%;
  top: 15%;
}
.slider_button {
  position: absolute;
  left: 5%;
  top: 15%;
}
.slick-dots li {
  display: none !important;
}
.model_box {
  background: #f2f3f5;
  border-radius: 10px;
}
.input_border {
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 30px;
  padding: 20px;
  background-color: #ffffff !important;
}
.input {
  outline: none !important;
}
.w_100 {
}

.spinner {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 10px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner > div {
  background-color: rgb(245, 237, 237);
  height: 10%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@media (min-width: 768px) {
  .w_25 {
    width: 25%;
  }
  .w_100 {
    width: 100% !important;
  }
  .w_1144 {
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 20px;
    --fs-3xl: 24px;
    --fs-4xl: 19px;
    --fs-5xl: 32px;
    --fs-6xl: 20px !important;
    --fs-7xl: 16px !important;
    --fs-8xl: 50px;
    --fs-9xl: 50px;
    --fw-medium: 500;
  }
  .w_100 {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  .right_47 {
    position: absolute;
    bottom: 0;
    right: 42% !important;
  }
  .bottom_40 {
    position: absolute;
    bottom: -40%;
  }

  /* .bottom_28 {
    position: absolute;
    bottom: -28%;
    left: 20%;
  } */
  :root {
    --fs-xsm: 12px;
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 20px;
    --fs-3xl: 24px;
    --fs-4xl: 30px;
    --fs-5xl: 32px;
    --fs-6xl: 17px !important;
    --fs-7xl: 30px !important;
    --fs-8xl: 70px;
    --fs-9xl: 50px;
    --fw-medium: 500;
  }
}
@media (min-width: 768px) {
  .right_47 {
    position: absolute;
    right: 45% !important;
    bottom: 0;
  }
  .w_30 {
    width: 30%;
  }
  .w_62 {
    width: 62% !important;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 20px;
    --fs-3xl: 24px;
    --fs-4xl: 30px;
    --fs-5xl: 32px;
    --fs-6xl: 21px !important;
    --fs-7xl: 50px !important;
    --fs-8xl: 70px;
    --fs-9xl: 100px;
    --fw-medium: 500;
  }
}
@media (min-width: 992px) {
  .right_47 {
    position: absolute;
    right: 46% !important;
    bottom: -15px;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 20px;
    --fs-3xl: 24px;
    --fs-4xl: 30px;
    --fs-5xl: 32px;
    --fs-6xl: 36px !important;
    --fs-7xl: 64px !important;
    --fs-8xl: 150px;
    --fs-9xl: 200px;
    --fw-medium: 500;
  }
  .bottom_40 {
    position: absolute;
    bottom: -35%;
  }
  .bottom_28 {
    position: absolute;
    bottom: 27%;
    left: 20%;
  }
}
